%page
  %header
    %title AbsoluteLayout
  %p
    The <code>absolute</code> layout expects each contained widget to be explicitly placed. 
    Widgets not positioned horizontally, using the <code>left</code> and/or <code>right</code> property, default to 0 (zero--the left side of the page).
    Widgets not positioned vertically, using the <code>top</code> and/or <code>bottom</code> property, default to 0 (zero--the top of the page).
