%erml
  %styles
    %layout{ :id => 'table', :padding => 0 }
    %pen{ :id => 'solid', :color => 'Gray' }
  %rules
    /
      :sass
        td
          :border solid
          :padding 3pt
  %pages
    %define{ :id => 'td', :tag => 'p', :text_align => 'right' }
    %page{ :units => 'in', :margin => 1, :layout => 'vbox' }
      %hbox
        %label{ :underline => true } Haml Table
        %label{ :text_align => 'right' }= Time.now.strftime('%Y.%m.%d %H:%M:%S')
      %br/
      %table{ :order => 'cols', :rows => 25 }
        - 1.upto(100) do |i|
          %td= i
