%page
  %header
    %title Helpers

  %p These functions are declared in the global namespace.

  %method
    %signature open_erml(erml, &amp;block)
    %p Opens an ERML file, optionally preprocessing it with ERB or Haml according to file extension.
    %p Yields field (or StringIO) handle to <code>&amp;block</code>.

  %method
    %signature render_erml(erml)
    %p Renders file <code>erml</code> to PDF, changing file extension to .pdf.
