<erml>
	<styles>
	  <font id="title" name="Clarendon" size="14" />
	  <font id="body" name="Clarendon-Light" size="12" />
	  <font id="copyright" name="Courier" size="8" />
	  <font id="pageno" name="Clarendon" size="12" />
	  <layout id="vbox" padding="10pt" />
	</styles>
	<rules>
	  <!--
	    p { font: body; text-align: justify }
	    header { display: always; margin-bottom: 10pt }
	    footer { display: always; layout: hbox }
	    .title { font: title }
	    .subtitle { display: first; text-align: center }
	    .copyright { font: copyright; text-align: left }
	    pageno { font: pageno }
    -->
	</rules>
	<pages>
	  <define id="header" tag="div" align="top" />
	  <define id="footer" tag="div" align="bottom" />
		<page units="in" margin="1" layout="vbox" overflow="false">
		  <header>
		    <h class="title">Some Title</h>
		    <p class="subtitle">The paragraphs below will not wrap to a 2nd page.</p>
	    </header>
<% 10.times do |i| %>
	    <p><%= i + 1 %>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<% end %>
      <footer>
        <p class="copyright">Copyright (c) 2008 Eidetic Software. All rights reserved.</p>
        <p width="1in" text_align="right">Page <pageno /></p>
      </footer>
		</page>
	</pages>
</erml>
