<erml>
	<styles>
		<layout id="table" padding="0" />
		<pen id="solid" color="Gray" />
	  <layout id="vbox" padding="3pt" />
	</styles>
	<rules>
	</rules>
	<pages>
		<page units="in" margin="1" layout="vbox">
		  <div>
		    <h>Some Title</h>
		    <p text_align="center">The sub-title would go here.</p>
	    </div>
      <hbox align="bottom">
        <p>Copyright (c) 2008 Eidetic Software. All rights reserved.</p>
        <p width="10%" text_align="right">Page <pageno /></p>
      </hbox>
		</page>
	</pages>
</erml>
