/ %page
/   %header
/     %title Widgets

/ = render 'WidgetFactory/WidgetFactory'
/ = render 'StdWidgetFactory/StdWidgetFactory'
= render 'Widget/Widget'
/ = render 'Arc/Arc'
/ = render 'Arch/Arch'
/ = render 'Image/Image'
/ = render 'Line/Line'
/ = render 'Pie/Pie'
/ = render 'Star/Star'
/ = render 'Span/Span'
/ = render 'PageNo/PageNo'
/ = render 'PreformattedText/PreformattedText'
/ = render 'Container/Container'
/ = render 'Circle/Circle'
/ = render 'Ellipse/Ellipse'
/ = render 'Label/Label'
/ = render 'Paragraph/Paragraph'
/ = render 'Polygon/Polygon'
/ = render 'Rectangle/Rectangle'
/ = render 'Page/Page'
/ = render 'Document/Document'
