%br{ :width => '100%' }
%p Container with <code>layout="flow"</code>.
%div{ :width => '100%', :height => 3.5, :border => 'dotted', :layout => 'flow', :padding => 0.1 }
  %p This
  %rect{ :border => 'solid', :padding => '5pt', :corners => 0.1 }
    %p.code rect
  %p is followed by a
  %circle{ :border => 'solid', :padding => '15pt' }
    %label{ :border => 'dotted', :width => 1.0 } CIRCLE and stuff.
  %p The End.
  %rect{ :width => 2, :height => 1, :border => 'solid' }
  %circle{ :r => 0.75, :border => 'solid' }
  %rect{ :width => 2.0, :height => 1.5, :border => 'solid' }
  %p Really.
